body {
  background-color: #f7f1e4;
}

h1, div {
  text-align: center;
}
p, li {
  font-size: 24px;
}
div {
  font-size: 24px;
  padding: 10px;
  background-color: #c69830;
}

a {
  text-decoration: none;
  color: black;
}